@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,700;1,200;1,700&display=swap");
@import url("reset.css");

body {
  background: black;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-weight: 700;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

a.active {
  border-bottom: 2px #61dafb solid;
  color: #61dafb;
}

a {
  color: white;
  text-decoration: none;
  padding-bottom: 4px;
}

button,
select {
  background-color: black;
  color: white;
  border: white 1px solid;
  border-radius: 1px;
  font-size: 13px;
}

button {
  padding: 1px 6px;
}

button:hover {
  color: #61dafb;
  cursor: pointer;
}

select {
  font-family: inherit;
}

:global #root {
  max-width: 720px;
  margin: 0 auto;
}

#container {
  display: grid;
  margin-bottom: 2em;
}
