.productThumb {
  position: relative;
  border: 1px white dashed;
  /* border-radius: 4%; */
  padding: 10px 10px 32px;
  display: grid;
  grid-template-rows: min-content max-content min-content;
  cursor: pointer;
  min-height: 100%;
  box-sizing: border-box;
}

.productThumb:hover {
  border: solid 1px;
}

.productThumb p {
  text-align: center;
}

.productThumb button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
}
